{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "vivaform.fullname" . }}-postgres-pvc
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: {{ .Values.postgres.storage }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vivaform.fullname" . }}-postgres
spec:
  selector:
    matchLabels:
      app: {{ include "vivaform.name" . }}
      component: postgres
  template:
    metadata:
      labels:
        app: {{ include "vivaform.name" . }}
        component: postgres
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgres.image }}
          env:
            - name: POSTGRES_USER
              value: {{ .Values.postgres.username }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgres.password }}
            - name: POSTGRES_DB
              value: {{ .Values.postgres.database }}
          ports:
            - containerPort: 5432
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "vivaform.fullname" . }}-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vivaform.fullname" . }}-postgres
spec:
  selector:
    app: {{ include "vivaform.name" . }}
    component: postgres
  ports:
    - port: 5432
      targetPort: 5432
{{- end }}

