{{- if .Values.redis.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vivaform.fullname" . }}-redis
spec:
  selector:
    matchLabels:
      app: {{ include "vivaform.name" . }}
      component: redis
  template:
    metadata:
      labels:
        app: {{ include "vivaform.name" . }}
        component: redis
    spec:
      containers:
        - name: redis
          image: {{ .Values.redis.image }}
          ports:
            - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vivaform.fullname" . }}-redis
spec:
  selector:
    app: {{ include "vivaform.name" . }}
    component: redis
  ports:
    - port: 6379
      targetPort: 6379
{{- end }}

